{% extends "base.html" %}

{% block content %}
    {% if user.is_authenticated %}
        {% if records %}
        <table class="table table-hover" >
                <thead>
                    <tr>
                    <th scope="col">ID</th>
                    <th scope="col">Name</th>
                    <th scope="col">Email</th>
                    <th scope="col">Phone</th>
                    <th scope="col">Address</th>
                    </tr>
                </thead>
                <tbody>
                    {% for record in records %}
                    <tr>
                    <td><a href="{% url 'record' record.id %}">{{ record.id }}</a></td>
                    <td> {{ record.first_name }}</td>
                    <td>{{ record.email }}</td>
                    <td>{{ record.phone }}</td>
                    <td>{{ record.address }}</td>
                    </tr>
                    {% endfor %}
                </tbody>
                </table>
        {% endif %}
    {% else %}
    <form method="POST" action="{% url 'home' %}">
    {% csrf_token %}

        <div class="mb-3">
            <input
                type="text"
                name="username"
                placeholder="Username"
                class="form-control"
                required>
        </div>

        <div class="mb-3">
            <input
                type="password"
                name="password"
                placeholder="Password"
                class="form-control"
                required>
        </div>

        <button type="submit" class="btn btn-secondary">
            Login
        </button>
    </form>
    {% endif %}
{% endblock %}